.bgImg {
    /* The image used */
    background-image: url("/images/hero.jpg");
    min-height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: transparent;
}

/* Navbar links */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    background-color: transparent;
    color: #e3e3e3;
}


